a {
   color:black;
   text-decoration: none;
} 


  body{
   margin:0;
   font-family: 'Sawarabi Mincho', sans-serif; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

ul:hover{
  background-image: url("sunset.jpg");
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #71487e;
}
