a {
   color:black;
   text-decoration: none;
} 


  @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

  iframe {
   display: block;
   width: 700px;
   height: 700px;
   margin: 0 auto;
   border: 0;
   
}

  body{
   margin:0;
   font-family: 'Sawarabi Mincho', sans-serif; 
}

 .data-title{
   text-align: center;
   f
   ont-family: 'Sawarabi Mincho', sans-serif;
}
.kan-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.kanji {
  max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #F7F7F7;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.kanji h4 {
  margin: 0 0 6px 0;
}

.kan-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
}

.kan-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.species {
  font-size: .9rem;
  color: #888;
  vertical-align: middle;
}

.kan-list {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: .85rem;
  line-height: 1.5;
}

.footer {
  font-size: .7rem;
  color: #888;
  text-align: center;
  margin: 0;
}

.meaning {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}
.saturate {
  -webkit-filter: saturate(7); filter: saturate(7);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

ul:hover{
  background-image: url("sunset.jpg");
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #71487e;
}

.words{
  font-size: 1rem;
  color: #5d5955;
  margin: 0 0 1rem 0;
}
